<app-navbar></app-navbar>
<section id="booking" class="mt-5">
    <div class="container mt-5 pt-5">
        <div *ngIf="!loading" class="row justify-content-center">
            <div class="col-md-4">
                <div class="card border-0 bg-secondary">
                    <div class="card-body text-center">
                        <div class="">
                            <img [src]="movie.moviePoster" class="img-fluid" width="200" height="200"
                                [alt]="movie.movieName" />
                            <h3 class="mt-3">{{movie.movieName}}</h3>
                            <ul class="text-body list-unstyled mb-3">
                                <li class="mb-2">
                                    <strong>Genre: </strong>
                                    <span>{{movie.genre}}</span>
                                </li>
                                <li class="mb-2">
                                    <strong>Languages: </strong>
                                    <span *ngFor="let language of movie.languages | split:','">
                                        {{language}}
                                    </span>
                                </li>
                                <li class="mb-2 ">
                                    <strong>Description: </strong>
                                    <span class="">{{movie.description}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0 bg-secondary">
                    <div class="card-body">
                        <h4 class="card-title">Book Ticket</h4>
                        <div class="btn-group w-100 dropdown">
                            <button type="button" class="btn btn-outline-secondary btn-sm w-100 dropdown-toggle"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{selectedTheatre}}
                            </button>
                            <div class="dropdown-menu my-1">
                                <ng-container *ngFor="let theatre of theatreList">
                                    <button class="dropdown-item"
                                        (click)="updateSelectedTheatre(theatre.id, theatre.theatreName)">{{theatre.theatreName}}</button>
                                </ng-container>
                            </div>
                        </div>
                        <ng-container *ngIf="currentTheatre">
                            <p class="mt-3">Avaliable: <strong>{{currentTheatre.availableSeat}} seats</strong></p>
                            <form [formGroup]="booking" (ngSubmit)="bookTicket()">
                                <div class="mt-3">
                                    <label for="ticketCount" class="form-label">Tickets Count</label>
                                    <input formControlName="ticketsCount" class="form-control form-control-sm"
                                        type="number" id="ticketCount" min="1" max="{{currentTheatre.availableSeat}}"
                                        [readOnly]="currentTheatre.availableSeat === 0"
                                        [disabled]="currentTheatre.availableSeat === 0"
                                        (input)="seatMaxValidation($event)" [ngClass]="{
                                            'is-invalid': booking.controls['ticketsCount'].invalid
                                            && booking.controls['ticketsCount'].dirty,
                                            '':booking.controls['ticketsCount'].valid,
                                        }" />
                                    <p *ngIf="currentTheatre.availableSeat === 0" class="text-danger fs-3 fw-bold mt-2">
                                        SOLD OUT!!!</p>
                                    <p class="text-danger fs-sm mt-1" *ngIf="booking.hasError('maxError')">
                                        {{currentTheatre.availableSeat}} seats
                                        available</p>
                                </div>
                                <div class="mt-3">
                                    <button type="submit" class="btn btn-block w-100 btn-outline-primary btn-sm"
                                        [disabled]="booking.invalid">Book</button>
                                </div>
                            </form>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <app-loader [loading]="loading"></app-loader>
    </div>
</section>